<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse text-muted row justify-content-center" id="navbarCollapse">
            Copyright &copy; 2021 Piotr Rawski, Mateusz Łyczek

        </div>
    </div>
</nav>