<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-text">
            Aplikacja spamerska (Projekt zespołowy) - Piotr Rawski, Mateusz Łyczek
        </span>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
                <a class="nav-link" href="..">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./logowanie">Logowanie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./rejestracja">Rejestracja</a>
            </li>
        </ul>
    </div>
</nav>
<br/><br/>